---
import type { CollectionEntry } from "astro:content";
import AreaCard from "../AreaCard.astro";

type Props = {
  areas: CollectionEntry<"areas">[];
};

const { areas } = Astro.props;
---

<section>
  { areas.map(area => <AreaCard area={area} />) }
</section>

<style>
  section {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
  }
</style>
