---
import BaseLayout from "../../layouts/BaseLayout.astro";
import {getLangFromUrl} from "../../scripts/languageParser";

const title = "Patriarchal Zen - Store";
const lang = getLangFromUrl(Astro.url);
---

<BaseLayout title={title} lang={lang}>
  <div class="content content--page">
    <h1>Store</h1>
    <p>This is just an example page</p>
  </div>
</BaseLayout>
