---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Players Club - 404';
---

<BaseLayout title={title}>
	<div class="content content--page">
		<h1>404</h1>
		<p>Without music, we are all lost</p>
	</div>
</BaseLayout>