---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Patriarchal Zen - 404";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>404</h1>
    <p>Without zen, we are all lost</p>
  </div>
</BaseLayout>
