---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = 'Players Club - Store';
---
<BaseLayout title={title}>
	<div class="content content--page">
		<h1>Store</h1>
		<p>This is just an example page</p>
	</div>
</BaseLayout>