---
import type { CollectionEntry } from "astro:content";
import AlbumCard from "./AlbumCard.astro";

type Props = {
  albums?: CollectionEntry<"albums">[];
  areas?: CollectionEntry<"areas">[];
  temples?: CollectionEntry<"temples">[];
};

const { albums, areas, temples } = Astro.props;
---

<section>
  {
      albums
          ? albums.map(album => <AlbumCard album={album} />)
          : areas
              ? areas.map(area => <AlbumCard area={area} />)
              : temples
                  ? temples.map(temple => <AlbumCard temple={temple} />)
                  : ""
  }
</section>

<style>
  section {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
  }
</style>
