---
import type { CollectionEntry } from "astro:content";

type Props = {
  master: CollectionEntry<"masters">;
};

const { master } = Astro.props;
---

<div class="heading_div">
    Plan
    <div class="heading_div heading_div_2">
        tati
    </div>
    <div class="heading_div heading_div_3">
        on theme natur
        <svg class="icon" width="110px" height="110px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(270)">

            <g id="SVGRepo_bgCarrier" stroke-width="0" />

            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />

            <g id="SVGRepo_iconCarrier">
                <g id="layer1">
                    <path d="M 7 1 C 5.3431455 1 4 2.3431458 4 4 L 4 13.5 C 4 16.537566 6.462434 19 9.5 19 C 12.537566 19 15 16.537566 15 13.5 L 15 4 C 15 2.3431458 13.656854 1 12 1 L 7 1 z M 7 2 L 9 2 L 9 8 L 10 8 L 10 2 L 12 2 C 13.104569 2 14 2.8954305 14 4 L 14 13.5 C 14 15.985281 11.985281 18 9.5 18 C 7.014719 18 5 15.985281 5 13.5 L 5 4 C 5 2.8954305 5.8954305 2 7 2 z " style="fill:#222222; fill-opacity:1; stroke:none; stroke-width:0px;" />
                </g>
            </g>

        </svg>
    </div>
</div>
<div class="img-con">
    <div class="blank_1"></div>
    <div class="blank_2"></div>
    <div class="comment comment_1">
        <div class="icon_cont">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <title />
                <g id="Mountain">
                    <path d="M479.8066,437.4463,397.9341,295.6421a43.1629,43.1629,0,0,0-74.63-.3108l29.8337,51.6609a17.108,17.108,0,0,1-29.63,17.112L303.52,329.4905l-.022.0394-56.7843-98.3468a55.0883,55.0883,0,0,0-95.4268,0v-.0093L32.1934,437.4463A17.0981,17.0981,0,0,0,47,463.0981H465a17.0981,17.0981,0,0,0,14.8066-25.6518Z" fill="white" />
                    <circle cx="334.9966" cy="123" r="74.0981" fill="white" />
                </g>
            </svg>
        </div>
        <div class="comment_content">
            Nature Care
            <p>$ 17,000</p>
        </div>
    </div>
    <div class="comment comment_2">
        <div class="icon_cont">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path d="M0 0H24V24H0z" fill="none" />
                    <path d="M21 3v2c0 3.866-3.134 7-7 7h-1v1h5v7c0 1.105-.895 2-2 2H8c-1.105 0-2-.895-2-2v-7h5v-3c0-3.866 3.134-7 7-7h3zM5.5 2c2.529 0 4.765 1.251 6.124 3.169C10.604 6.51 10 8.185 10 10v1h-.5C5.358 11 2 7.642 2 3.5V2h3.5z" fill="white" />
                </g>
            </svg>
        </div>
        <div class="comment_content">
            Plantation B.
            <p>$ 73,000</p>
        </div>
    </div>
    <div class="prof_cont">
        <div class="profile p1"></div>
        <div class="profile p2"></div>
        <div class="profile p3"></div>
        <p class="p_2">
            More than 2 million people donated till now
        </p>
        <p class="p_3">
            We're waiting for you
        </p>
    </div>
</div>

<style>
/*  a {
    background-image: var(--image);
    background-size: cover;
    background-position: 50% 0%;
    aspect-ratio: 0.8;
  }*/

/* Card internals */
.card--closed {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #1e1d1d;
}

.card--closed .icon,
.card--open .header .icon {
    width: 32px;
    height: 32px;
}

.card--closed .icon {
    margin-right: 0px;
    margin-top: 40px;
}

.card--closed .divisor--closed,
.card--open .header .divisor {
    transition: all 300ms;
    height: 3px;
    background: rgba(255, 250, 250, 0.2);
}

.card--closed .divisor--closed {
    width: 3px;
    height: 48px;
}

.card--open .header .divisor {
    flex: 1;
}

.card--closed .title,
.card--open .header .title {
    transition: all 300ms;
    text-transform: uppercase;
    font-size: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

.card--closed .title {
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    writing-mode: vertical-rl;
}

.card--open {
    /*   padding: 24px 40px; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    z-index: 0;
}

.card--open .header {
    display: flex;
    align-items: center;
}

.card--open .description {
    font-size: 20px;
    letter-spacing: 0.8px;
}

.card--open .button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 28px;
    color: #fffafa;
    border: 1px solid currentColor;
    background: transparent;
    width: max-content;
}

.card--open .button span {
    text-transform: uppercase;
    letter-spacing: 0.64px;
}

.card--open .showcase {
    width: 100%;
    height: 384px;
    object-fit: cover;
    object-position: center center;
}

/* Card container */
.container {
    position: relative;
    height: 552px;
    width: 140px;
    display: flex;
    overflow: hidden;
    transition: width 300ms;
}

.card--open {
    width: 600px;
    padding: 0px;
    height: 100%;
    max-width: 673px;
    position: absolute;
    overflow: hidden;
    transition: all 300ms;
    left: 100%;
}

.card--closed{
    width: 140px;
    opacity: 1;
    transition: all 300ms;
}

/* Transitions */
.container:hover {
    width: 600px;
}

.container:hover .card--open {
    left: 0%;
}

.container:hover .card--closed{
    width: 0px;
    opacity: 0;
}
</style>
