---
import type { CollectionEntry } from "astro:content";
import RecordCard from "./RecordCard.astro";

type Props = {
  records: CollectionEntry<"records">[];
};

const { records } = Astro.props;
---

<section>
  { records.map(record => <RecordCard record={record} />) }
</section>

<style>
  section {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
  }
</style>
