---
import type { CollectionEntry } from "astro:content";
import TempleCard from "./TempleCard.astro";

type Props = {
    temples: CollectionEntry<"temples">[];
};

const { temples } = Astro.props;
---

<section>
  { temples.map(temple => <TempleCard temple={temple} />) }
</section>

<style>
  section {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
  }
</style>
