---
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

import { SEO as AstroSEO } from "astro-seo";

import SmoothScroll from "../components/SmoothScroll.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/instrument-sans";
import instrumentSansWoff2 from "@fontsource-variable/instrument-sans/files/instrument-sans-latin-wght-normal.woff2";
import theme from "../theme.json";

// font families
const pf = theme.fonts.font_family.primary;
const sf = theme.fonts.font_family.secondary;

let fontPrimary, fontSecondary;
if (theme.fonts.font_family.primary) {
  fontPrimary = theme.fonts.font_family.primary
      .replace(/\+/g, " ")
      .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;]+/gi, "");
}
if (theme.fonts.font_family.secondary) {
  fontSecondary = theme.fonts.font_family.secondary
      .replace(/\+/g, " ")
      .replace(/:[ital,]*[ital@]*[wght@]*[0-9,;]+/gi, "");
}

type Props = {
  title: string;
  description?: string;
  image?: string;
  icon16x16Href?: string;
  icon32x32Href?: string;
  iconApple180x180Href?: string;
  manifestHref?: string;
  sitemapHref?: string;
};

const {
  title,
  description = "Patriarchal Zen",
  image="/zen-space.jpeg",
  icon16x16Href="/favicon/favicon-16x16.png",
  icon32x32Href="/favicon/favicon-32x32.png",
  iconApple180x180Href="/favicon/apple-touch-icon.png",
  manifestHref="/favicon/site.webmanifest",
  sitemapHref="/sitemap-index.xml",
} = Astro.props;

// Current page value (/home, /about, /404 ...)
const currentPage =
  Astro.url.pathname.replace(/\/$/, "").split("/").pop() || "home";
---

<!doctype html>
<html data-page={currentPage}>
  <head>
    <AstroSEO
      title={title}
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: title,
          type: "image/jpeg",
          image: image,
        },
      }}
      twitter={{
        creator: "@codrops",
      }}
      extend={{
        // extending the default link tags
        link: [
          {
            rel: "icon",
            type: "image/png",
            sizes: "16x16",
            href: icon16x16Href,
          },
          {
            rel: "icon",
            type: "image/png",
            sizes: "32x32",
            href: icon32x32Href,
          },
          {
            rel: "apple-touch-icon",
            sizes: "180x180",
            href: iconApple180x180Href,
          },
          { rel: "manifest", href: manifestHref },
          { rel: "sitemap", href: sitemapHref },
          {
            rel: "preload",
            href: instrumentSansWoff2,
            as: "font",
            type: "font/woff2",
            crossorigin: "anonymous",
          },
        ],
        // extending the default meta tags
        meta: [
          { name: "twitter:image", content: image },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { name: "viewport", content: "width=device-width" },
          { name: "msapplication-TileColor", content: "#000000" },
          { name: "theme-color", content: "#ffffff" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
    <ClientRouter />
    <title></title>
  </head>
  <body>
    <SmoothScroll />
    <Header />
    <slot />
    <Footer />
    <script src="../scripts/imageFade.js"></script>
  </body>
</html>
